#content{
	width:1000px;
	overflow:hidden;
	margin:auto;
}
#content_left{
	width:700px;
	float:left;
}
#content_right{
	width:280px;
	float:left;
	margin-left:16px;
}
.mianbao{
	height:40px;
	line-height:40px;
	padding-left:43px;
}
.content_left_top_big{
	font-size:16px;
	height:45px;
	line-height:45px;
	text-align:center;
	border-bottom:1px solid #c9baa5;
}
.content_left_top_small{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	color:#757575;
	margin:10px;
}
.content_left_center{
	line-height:28px;
	padding:10px;
	font-size:14px;
	border-bottom:1px solid #c9baa5;
}
.content_left_center p{
	text-indent:2em;
	margin-top:5px;
}
.content_left_center_picter{
	margin:20px;
}
.content_left_bottom{
	height:40px;
	line-height:40px;
	margin-top:10px;
	font-size:13px;
}
.content_left_bottom a{
	margin-left:40px;
	color:#844004;
	font-size:13px;
}
.content_right_top{
	border:1px solid #c9baa5;
	background-image:url(../images/bg.png);
	margin-left:20px;
}
.content_right_top_picter{
	margin-bottom:10px;
	text-align:center;
	margin-top:15px;
}
.content_right_top_list{
	line-height:30px;
	margin-left:13px;
}
.content_right_bottom_top{
	margin-top:25px;
	margin-bottom:15px;
	text-align:center;
}
.content_right_bottom_center{
	background-image:url(../images/show_bg.png);
	height:362px;
}
.content_right_bottom_center_picter{
	margin-left:25px;
	margin-top:25px;
	padding-top:25px;
}
.content_right_bottom_center_word{
	margin-left:25px;
	margin-top:15px;
	margin-right:30px;
	line-height:20px;
}
.red{
	font-weight:bolder;
	color:#b70000;
}
.content_right_bottom_bottom{
	margin-left:25px;
}